body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.navbar > ul {
    margin: 0;
    padding-left: 0px;
}

.navbar {
    padding-top: 30px;
    padding-right: 33px;
    text-transform: uppercase;
}

.navbar > ul > li {
    font-size: 18px;
    color: #7d7d7d;
    display: inline;
    list-style-type: none;
    padding-right: 37px;
}

.navbar > ul > li:nth-last-child(3) {
    padding-right: 28px;
}

.navbar > ul > li:last-child {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    background-color: #f00;
    padding: 10px 14px 10px 14px;
    border-bottom-width: 0px;
    box-shadow: 0px 1px #ff8888;
}

.navbar > ul > li:nth-last-child(2) {
    color: #0072bc;
    padding-right: 20px;
}

.navbar ul li img {
    padding-right: 15px;
}

#logo {
    padding: 20px 0px 19px 35px;
    width: 100%;
    height: 100%;
    max-width: 180px;
    max-height: 61px;

}

/*///////////////////////////////////////////*/

.main {

    border-top: solid 2px #ebebeb;
    padding: 78px 90px 0px 90px;
    background-color: #272121;
}

.frame {
    position: relative;
    padding-bottom: 56.25%;
}

.frame > iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-width: 0px;
}

.underFrame {
    display: flex;
    justify-content: space-between;
}

.underFrameImages > img {
    padding: 23px 0px 27px 26px;
}

.underFrame > div > h3 {
    color: #fff;
    font-size: 26.1px;
    margin: 0;
    padding: 25px 0px 2px 0px;
}

.underFrame > div > h6 {
    color: #d57232;
    font-size: 19.57px;
    margin: 0;
}

.sidenav {
    opacity: 0.9;
    width: 0px;
    position: absolute;
    z-index: 1;
    top: 359px;
    right: 50px;
    background-color: #111;
    overflow-x: hidden;
    transition: 1s;
    box-shadow: 3px 8px #211c1c;
}

.sidenav > h4 {
    font-size: 24px;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    border-bottom-width: 1px;
    border: solid #5a5454;
    padding: 19px 0px 18px 19px;
}

.sidenav > h5 {
    font-size: 24px;
    font-weight: bold;
    background-color: black;
    color: #fff;
    border-bottom-width: 1px;
    border: solid #5a5454;
    padding: 19px 0px 25px 14px;
}

.sidenav ul li:first-child {
    background-color: #000;
    color: #fff;
}

.sidenav li {
    font-size: 18px;
    background-color: #423838;
    border-bottom-width: 1px;
    border: solid #5a5454;
    color: #fff;
    padding: 21px 0px 20px 17px;
}

.sidenav p {
    font-size: 14px;
    text-align: justify;
    padding: 17px 34px 0px 0px;
    line-height: 24px;
}

.rectangle {
    display: inline-flex;
    height: 21px;
    width: 46px;
    background-color: #000;
    right: 10px;
    float: right;
    margin-right: 29px;
}

.rectangle1 {
    display: inline-flex;
    height: 21px;
    width: 46px;
    background-color: #7d7d7d;
    right: 10px;
    float: right;
    margin-right: 29px;
}

.belowPanelB {
    height: 128px;
    width: 503px;
}

/*//////////////////////////////////////////*/
footer {
    background-color: #ebebeb;
}

.footerArticle > p {
    margin: 0;
    color: #7d7d7d;
    font-size: 18px;
    text-align: justify;
    padding-bottom: 46px;
    line-height: 30px;
}

.footerArticle > p:nth-last-child(2) {
    padding-bottom: 42px;
}

.footerArticle > p:last-child {
    padding-bottom: 45px;
}

.footerArticle {
    padding: 48px 91px 0px 96px;
}

.footerBottom {
    display: flex;
    justify-content: flex-start;
}

.footerBottom > div > img {
    padding: 0px 0px 55px 96px;
}

.footerBottom > div > h3 {
    margin: 0;
    padding: 8px 0px 2px 17px;
    font-size: 20.13px;
}

.footerBottom > div > h6 {
    margin: 0;
    padding-left: 18px;
    color: #d57232;
    font-size: 15.1px;
}

/*/////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 691px) {
    .navbar > ul {
        padding-left: 0px;
    }

    .navbar {
        padding: 10px 0px 0px 0px;
    }

    .navbar > ul > li {
        font-size: 7px;
        padding-right: 2px;
    }

    .navbar > ul > li:nth-last-child(3) {
        padding-right: 0px;
    }

    .navbar > ul > li:last-child {
        font-size: 8px;

        padding: 5px 10px;
    }

    .navbar > ul > li:nth-last-child(2) {
        padding-right: 0px;
    }

    .navbar ul li img {
        padding: 2px 2px 0px 0px;
        max-width: 10%;
        max-height: 10%;
    }

    #logo {
        padding: 15px 5px 9px 15px;
        max-width: 35%;
        max-height: 35%;
    }

    .main {
        padding: 14px 10px 0px;
    }

    .underFrameImages > img {
        padding: 3px 0px 27px 26px;
        max-width: 8%;
        max-height: 8%;
    }

    .underFrame > div > h3 {
        font-size: 8px;
        padding: 5px 0px 2px 0px;
    }

    .underFrame > div > h6 {
        font-size: 7px;
    }

    .sidenav {
        top: 90px;
        right: 0px;
    }

    .sidenav > h4 {
        font-size: 8px;
        padding: 5px 0px 5px 5px;
    }

    .sidenav > h5 {
        font-size: 8px;
        padding: 5px 0px 5px 5px;
    }

    .sidenav li {
        font-size: 8px;
        padding: 7px 0px 7px 7px;
    }

    .sidenav p {
        font-size: 6px;
        padding: 5px 5px 0px 0px;
        line-height: 10px;
    }

    .rectangle {
        height: 7px;
        width: 11px;
        right: 10px;
        margin-right: 10px;
    }

    .rectangle1 {
        height: 7px;
        width: 11px;
        right: 10px;
        margin-right: 10px;
    }

    .belowPanelB {
        height: 28px;
        width: 150px;
    }

    .footerArticle > p {
        font-size: 9px;
        padding-bottom: 12px;
        line-height: 10px;
    }

    .footerArticle > p:nth-last-child(2) {
        padding-bottom: 12px;
    }

    .footerArticle > p:last-child {
        padding-bottom: 15px;
    }

    .footerArticle {
        padding: 8px 11px 0px;
    }

    .footerBottom > div > img {
        padding: 0px 0px 11px 11px;
        max-width: 50%;
        max-height: 50%;
    }

    .footerBottom > div > h3 {
        padding: 8px 0px 2px 2px;
        font-size: 8px;
    }

    .footerBottom > div > h6 {
        padding-left: 2px;
        font-size: 7px;
    }
}

@media screen and (min-width: 692px) and (max-width: 1140px) {
    .navbar > ul {
        margin: 0;
        padding-left: 0px;
    }

    .navbar {
        padding: 30px 33px 0px 0px;
        text-transform: uppercase;
    }

    .navbar > ul > li {
        font-size: 9px;
        color: #7d7d7d;
        display: inline;
        list-style-type: none;
        padding-right: 18.5px;
    }

    .navbar > ul > li:nth-last-child(3) {
        padding-right: 14px;
    }

    .navbar > ul > li:last-child {
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        background-color: red;
        padding: 5px 7px;
        border-bottom-width: 0px;
        box-shadow: 0px 1px #ff8888;
    }

    .navbar > ul > li:nth-last-child(2) {
        color: #0072bc;
        padding-right: 20px;
    }

    .navbar ul li img {
        padding-right: 15px;
    }

    #logo {
        padding: 20px 0px 19px 35px;
        max-width: 15%;
        max-height: 15%;
    }

    .underFrameImages > img {
        padding: 3px 0px 27px 26px;
        max-width: 8%;
        max-height: 8%;
    }

    .underFrame > div > h3 {
        font-size: 8px;
        padding: 5px 0px 2px 0px;
    }

    .underFrame > div > h6 {
        font-size: 7px;
    }

    .sidenav {
        top: 150px;
        right: 0px;
    }

    .sidenav > h4 {
        font-size: 8px;
        padding: 5px 0px 5px 5px;
    }

    .sidenav > h5 {
        font-size: 8px;
        padding: 5px 0px 5px 5px;
    }

    .sidenav li {
        font-size: 8px;
        padding: 7px 0px 7px 7px;
    }

    .sidenav p {
        font-size: 6px;
        padding: 5px 5px 0px 0px;
        line-height: 10px;
    }

    .rectangle {
        height: 7px;
        width: 11px;
        right: 10px;
        margin-right: 10px;
    }

    .rectangle1 {
        height: 7px;
        width: 11px;
        right: 10px;
        margin-right: 10px;
    }

    .belowPanelB {
        height: 28px;
        width: 150px;
    }

    .footerArticle > p {
        font-size: 9px;
        padding-bottom: 12px;
        line-height: 10px;
    }

    .footerArticle > p:nth-last-child(2) {
        padding-bottom: 12px;
    }

    .footerArticle > p:last-child {
        padding-bottom: 15px;
    }

    .footerArticle {
        padding: 8px 11px 0px;
    }

    .footerBottom > div > img {
        padding: 0px 0px 11px 11px;
        max-width: 50%;
        max-height: 50%;
    }

    .footerBottom > div > h3 {
        padding: 8px 0px 2px 2px;
        font-size: 8px;
    }

    .footerBottom > div > h6 {
        padding-left: 2px;
        font-size: 7px;
    }
}