body {
    font-family: 'Roboto', sans-serif;
    max-width: 1680px;
}

header {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar > ul {
    margin:0;
padding-left: 0px;
}

.navbar {
    padding-top: 30px;
    padding-right: 33px;
    text-transform: uppercase;
}

.navbar > ul > li {

    font-size: 18px;
    color: #7d7d7d;
    display: inline;
    list-style-type: none;
    padding-right: 37px;

}

.navbar > ul > li:nth-last-child(3) {
    padding-right: 28px;

}

.navbar > ul > li:last-child {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border-bottom-width: 0px;
    box-shadow: 0px 1px #ff8888;
}

.navbar > ul > li:nth-last-child(2) {
    color: #0072bc;
    padding-right: 20px;

}

.navbar ul li img {
    padding-right: 15px;

}

#logo {
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 19px;
    max-width: 100%;
    max-height: 100%;
}
/*///////////////////////////////////////////*/
main {



}

.main {

    border-top: solid 2px #ebebeb;
    padding-top: 78px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: #272121;
}

.frame {
    position: relative;
    width: 100%;

    padding-bottom: 56.25%;
}

.frame > iframe {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    border-width: 0px;
}

.underFrame {
    display: flex;
    justify-content: space-between;
}

.underFrameImages > img {
    padding-top: 23px;
    padding-bottom: 27px;
    padding-left: 26px;
}

.underFrame > div > h3 {
    color: #fff;
    font-size: 26.1px ;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 2px;
}

.underFrame > div > h6 {
    color: #d57232;
    font-size: 19.57px;
    margin: 0;
}

.sidenav {
    opacity: 0.9;
    /*height: 50%;*/
    width: 503px;
    position: absolute;
    z-index: 1;
    top: 359px;
    right: 50px;
    background-color: #111;
    overflow-x: hidden;
    transition: 1s;
    /*padding-top: 60px;*/
    border: 1px solid;
    /*padding: 10px;*/
    box-shadow: 3px 8px #211c1c;
}

.sidenav > h4 {
    font-size: 24px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #5a5454;
    padding-top: 19px;
    padding-bottom: 18px;
    padding-left: 19px;
}

.sidenav > h5 {
    font-size: 24px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #5a5454;
    padding-top: 19px;
    padding-bottom: 25px;
    padding-left: 14px;
}

.sidenav ul li:first-child {
    background-color: black;
    color: white;
}

.sidenav li {
    font-size: 18px;
    background-color: #423838;
    border-bottom-width: 1px;
    border-color: #5a5454;
    border-style: solid;
    color: white;
    padding-top: 21px;
    padding-bottom: 20px;
    padding-left: 17px;
}

.sidenav p {
    font-size: 14px;
    text-align: justify;
    padding-top: 17px;
    padding-right: 34px;

    line-height: 24px;
}

.rectangle {
    display: inline-flex;
    height: 21px;
    width: 46px;
    background-color: black;
    right: 10px;
    float: right;
    margin-right: 29px;
}

.rectangle1 {
    display: inline-flex;
    height: 21px;
    width: 46px;
    background-color: #7d7d7d;
    right: 10px;
    float: right;
    margin-right: 29px;
}



.belowPanelB {
    height: 128px;
    width: 503px;
}


/*//////////////////////////////////////////*/
footer {
    background-color: #ebebeb;

}

.footerArticle > p {
    margin: 0;
    color: #7d7d7d;
    font-size: 18px;
    text-align: justify;
    padding-bottom: 46px;
    line-height: 30px;
}

.footerArticle > p:nth-last-child(2) {
    padding-bottom: 42px;
}

.footerArticle > p:last-child {
    padding-bottom: 45px;
}

.footerArticle {
    padding-top: 48px;
    padding-left: 96px;
    padding-right: 91px;

}

.footerBottom {
    display: flex;
    justify-content: flex-start;
}

.footerBottom > div > img {
    padding-left: 96px;

    padding-bottom: 55px;
}

.footerBottom > div > h3 {
    margin: 0;
    padding-top: 8px;
    padding-left: 17px;
    padding-bottom: 2px;
    font-size: 20.13px;
}

.footerBottom > div > h6 {
    margin: 0;
    padding-left: 18px;
    color: #d57232;
    font-size: 15.1px;
}